# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list data science languages
- list data science libraries
- create a table of Data Science tools
- multiply numbers
- convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. JavaScript
6. Julia
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. Matplotlib
5. SciPy

| Data Science Tools |
| --------- |
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
minutes = 200
hours = minutes/60
print (hours)
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335